:root {
  // --main: #101048;
  --bp-main: #11105b;
  --bp-dark: #000020;
  --bp-light: #ececec;
  --bp-black: #010010;
  --bp-title: #000033;
  --bp-yellow: #eaaa01;
  --bp-red: #cc0000;
  --bp-green: #008a07;
  --bp-fade: #ccc5b9;
  --bp-textDark: #000036;
  --bp-textLight: #e6e6e6;
  --bp-orange: #ff6f00;
  --bg-white: white;
  --bg-yellowLight: #fff9ce;
  --bg-gray: #e0e0ea;
  --bg-mint: #f5fffa;
  --bg-peach: #fde3cb;
  --bp-blue: #050379;

  /* Box Shadow */
  --bp-bs-2: 1px 1px 20px -5px rgba(0, 0, 0, 0.2);
  --bp-bs-4: 1px 1px 20px -5px rgba(0, 0, 0, 0.4);
}

/*============= Resets =============*/
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: var(--bp-dark);
}

::-webkit-scrollbar-track {
  background-color: var(--bp-light);
}

body {
  width: 100vw;
  background-color: var(--bp-light);
  color: var(--bp-dark);
  transition: all 1s ease;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
}

input,
select,
.select2,
textarea {
  border-radius: .25em !important;
  outline: solid 0.5px var(--bp-main);
  border: none;
  margin-bottom: 0.5em;
}

button {
  outline: 0;
  border: none;
  background-color: transparent;
  margin-inline: .2em !important;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block {
  width: 100%
}