// Backend SCSS
/* Preloader */
#preloader, .preloader {
  display: none;
  background-color: #0402573d;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11 !important;
}

.triple-spinner {
  display: block;
  position: relative;
  margin: 250px auto;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid var(--bp-main);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.triple-spinner::before,
.triple-spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent;
}

.triple-spinner::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #fff;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3.5s linear infinite;
}

.triple-spinner::after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: var(--bp-orange);
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.75s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*============= Sidebar CSS  =============*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 14.5em;
  width: 14.5em;
  overflow-y: auto;
  box-shadow: var(--bp-bs-2);
  background-color: transparent !important;

  &::-webkit-scrollbar {
    width: 0.35em;
  }

  .sidebar-brand {
    position: relative;
    height: 3.6em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    img {
      height: 3.6em;
      padding: 0.15em;
      width: auto;
    }
  }

  .sidebar-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0.1em 0.1em 0.8em;

    .sidebar-user-info {
      display: flex;
      align-items: center;
      height: 2.25em;

      img {
        width: 2.2em;
        height: 2.2em;
        padding: 0.1em;
        border-radius: 50%;
      }
    }

    .sidebar-user-bio {
      margin-left: 0.5em;
      font-weight: 400;
      font-size: 1.1em;
      color: var(--bp-dark);
      text-transform: uppercase;
    }


  }

  .sidebar-menu {
    padding: 0.4em 0;
    list-style: none;
  }

  .sidebar-menu>li>a {
    width: 100%;
    height: 2.25em;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    text-transform: capitalize;
    transition: 0.5s ease-in-out;
    color: var(--bp-dark);

    &.active {
      background-color: var(--bp-fade);
      color: var(--bp-dark);
      border-right: 4px solid var(--bp-yellow);
    }

    &:hover {
      color: var(--bp-yellow);
      border-right: 2px solid var(--bp-yellow);

      &>.dropdown-icon {
        color: var(--bp-yellow);
      }
    }

    &>ion-icon {
      color: var(--bp-dark);
      font-size: 1.25em;
      margin-inline-start: 0.5em;
    }

    span {
      margin-left: 0.15em;
    }
  }

  .sidebar-menu-dropdown {
    position: relative;

    .dropdown-icon {
      position: absolute;
      right: 0.9em;
      width: 0.9em;
      height: 1em;
      color: var(--bp-dark);
    }
  }

  .dropdown-icon::after,
  .dropdown-icon::before {
    content: "";
    width: 50%;
    height: 2px;
    border-radius: 2.5%;
    position: absolute;
    top: calc(50% - 2px / 2);
    background-color: var(--bp-dark);
  }

  .dropdown-icon {
    &::before {
      left: calc(50% - 2px / 3);
      transform-origin: center left;
      transform: rotate(-45deg);
    }

    &::after {
      right: calc(50% - 2px / 3);
      transform-origin: right;
      transform: rotate(45deg);
    }

    &.active::before {
      transform: rotate(45deg);
    }

    &.active::after {
      transform: rotate(-45deg);
    }
  }

  .sidebar-menu-dropdown-content {
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;

    &>li>a {
      padding-left: 2.5em;
    }
  }
}

/*============= Sidebar Content =============*/
.sidebar-close {
  display: none;
}

.mobile-toggle ion-icon {
  font-size: x-large;
}

.mobile-toggle {
  display: none;
}

/*============= Main =============*/
.main {
  padding-left: 14.5em;
  max-width: 100%;
  margin-bottom: 2em;
  padding-bottom: 2em;
  // padding: 1em;
  display: flex;
  justify-content: center;
  margin: auto;
}

/*============= Overlay =============*/
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #11105b, $alpha: 0.25);
  display: none;

  &.active {
    display: block;
  }
}