#app {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(226, 214, 255, 0.2),
      rgba(231, 255, 230, 0.2), rgba(255, 248, 212, 0.2), rgba(255, 167, 167, 0.2));
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(4, 2, 87, 0.05);
  border-bottom: 1px solid var(--bp-main);
  border-radius: 0.8em 0.8em 0 0;
  padding: 1em 1em 0.6em;
}
/*============= Sidebar CSS  =============*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 14.5em;
  width: 14.5em;
  overflow-y: auto;
  box-shadow: var(--bp-bs-2);
  background-color: transparent !important;

  &::-webkit-scrollbar {
    width: 0.35em;
  }

  .sidebar-brand {
    position: relative;
    height: 3.6em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    img {
      height: 3.6em;
      padding: 0.15em;
      width: auto;
    }
  }

  .sidebar-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0.1em 0.1em 0.8em;

    .sidebar-user-info {
      display: flex;
      align-items: center;
      height: 2.25em;

      img {
        width: 2.2em;
        height: 2.2em;
        padding: 0.1em;
        border-radius: 50%;
      }
    }

    .sidebar-user-bio {
      margin-left: 0.5em;
      font-weight: 400;
      font-size: 1.1em;
      color: var(--bp-dark);
      text-transform: uppercase;
    }


  }

  .sidebar-menu {
    padding: 0.4em 0;
    list-style: none;
  }

  .sidebar-menu>li>a {
    width: 100%;
    height: 2.25em;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    text-transform: capitalize;
    transition: 0.5s ease-in-out;
    color: var(--bp-dark);

    &.active {
      background-color: var(--bp-fade);
      color: var(--bp-dark);
      border-right: 4px solid var(--bp-yellow);
    }

    &:hover {
      color: var(--bp-yellow);
      border-right: 2px solid var(--bp-yellow);

      &>.dropdown-icon {
        color: var(--bp-yellow);
      }
    }

    &>ion-icon {
      color: var(--bp-dark);
      font-size: 1.25em;
      margin-inline-start: 0.5em;
    }

    span {
      margin-left: 0.15em;
    }
  }

  .sidebar-menu-dropdown {
    position: relative;

    .dropdown-icon {
      position: absolute;
      right: 0.9em;
      width: 0.9em;
      height: 1em;
      color: var(--bp-dark);
    }
  }

  .dropdown-icon::after,
  .dropdown-icon::before {
    content: "";
    width: 50%;
    height: 2px;
    border-radius: 2.5%;
    position: absolute;
    top: calc(50% - 2px / 2);
    background-color: var(--bp-dark);
  }

  .dropdown-icon {
    &::before {
      left: calc(50% - 2px / 3);
      transform-origin: center left;
      transform: rotate(-45deg);
    }

    &::after {
      right: calc(50% - 2px / 3);
      transform-origin: right;
      transform: rotate(45deg);
    }

    &.active::before {
      transform: rotate(45deg);
    }

    &.active::after {
      transform: rotate(-45deg);
    }
  }

  .sidebar-menu-dropdown-content {
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;

    &>li>a {
      padding-left: 2.5em;
    }
  }
}

/*============= Sidebar Content =============*/
.sidebar-close {
  display: none;
}

.mobile-toggle ion-icon {
  font-size: x-large;
}

.mobile-toggle {
  display: none;
}

/*============= Main =============*/
.main {
  padding-left: 15em;
  max-width: 100%;
  margin-bottom: 2em;
  padding-bottom: 2em;
  // padding: 1em;
  display: flex;
  justify-content: center;
  margin: auto;
}

/*============= Overlay =============*/
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #11105b, $alpha: 0.25);
  display: none;

  &.active {
    display: block;
  }
}