// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Resets
@import 'resets';

// Variables
@import 'variables';

/* Preloader */

#preloader,.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .75s, visibility .75s;
    z-index: 1000;
    background-color: #05042bd0;
}
// .loader {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition: opacity .75s, visibility .75s;
//     z-index: 1000;
//     background-color: #05042bd0;
// }

.loader-hide {
    opacity: 0;
    visibility: hidden;
}

.triple-spinner {
    display: block;
    position: relative;
    margin: 250px auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid var(--bp-main);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.triple-spinner::before,
.triple-spinner::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 4px solid transparent;
}

.triple-spinner::before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-top-color: #fff;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3.5s linear infinite;
}

.triple-spinner::after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-top-color: var(--bp-orange);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.75s linear infinite;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// Main
@import 'xstyle';


// Mobile SCSS
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
    .sidebar {
        transition: 0.9s ease-in-out;
        max-width: 100%;
        z-index: 10;
        transform: translateX(-100%);

        &.active {
            transform: translateX(0);
            background-image: linear-gradient(to bottom right, rgba(98, 31, 255, 0.2),
                    rgba(9, 255, 0, 0.2), rgba(255, 217, 0, 0.2), rgba(255, 0, 0, 0.2));
            background-color: var(--bp-light) !important;
        }
    }

    .main {
        padding-left: 0 !important;
    }

    .mobile-toggle,
    .sidebar-close {
        display: block;
        place-items: center;
        margin-right: 30px;
        cursor: pointer;
        z-index: 10;
        color: var(--bp-main);
        font-weight: 900;
        font-size: x-large;
        padding: .5em;
        border-radius: .25em;
    }

    .sidebar-close {
        position: absolute;
        right: -10px;
    }

    .setting-tab {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        gap: .5em;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .setting-tab {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
        gap: .5em;
    }
}

/* Small devices (portrait tablets and large phones, 680px and up) */
@media only screen and (max-width: 640px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {}